#footer {
    width: 100%;
    background-color: transparent;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer p {
    font-size: 20px;
    font-weight: 600;
    margin: 0px 50px;
    font-family: 'Montserrat Alternates', sans-serif;
}

#foot-left {
    margin-left: 25px;
}

#foot-left * {
    margin-right: 15px;
}

.logo {
    opacity: 0.5; 
    transition: ease 0.35s; 
}

.logo:hover {
    opacity: 1;
}

#github {
    width: 40px;
}

#linkedin {
    width: 39px;
}

#twitter {
    width: 41px;
}

@media screen and (max-width: 500px) {
    #foot-left * {
        margin-right: 7.5px;
    }
    #github {
        width: 30px;
    }
    #linkedin {
        width: 29px;
    }
    #twitter {
        width: 31px;
    }
    #footer p {
        font-size: 14px;
        margin: 0px 25px;
    }
}