* {
    list-style: none;
}

#nav {
    background-color: transparent;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
  
#logo {
    float: left;
}

#logo h1 {
    font-size: 75px;
    font-weight: 400;
}

#logo span {
    font-size: 50px;
    color: rgb(150, 0, 0);
}

#rightNav {
    float: right;
}

#rightNav ul {
    display: flex;
    flex-direction: row;
}

#rightNav a {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 26px;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 600;
}

.active {
    color: red;
}

.inactive {
    color: black;
}

@media screen and (max-width: 650px) {
    #logo h1 {
        font-size: 40px;
    }
    #logo span {
        font-size: 25px;
    }
    #rightNav a {
        margin-left: 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    #logo {
        margin-left: 40px;
    }
    #rightNav {
        margin-right: 50px;
    }
    #rightNav a {
        margin-left: 6px;
        font-size: 12px;
    }
}