* {
    font-family: 'Montserrat', sans-serif;
}

#container-section {
    margin: 25px 0px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 65px;
}

.card {
    width: 500px;
    height: 150px;
    display: flex;
    border-radius: 3px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 15px;
    transition: ease 0.4s;
}

.card a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-top: 10px;
}

.card a:hover {
    color: red;
}

.card h3 {
    font-size: 42px;
    width: 100%;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 5px;
}

#portfolio-hr {
    width: 75%;
}

.center-it-geez {
    display: flex;
    justify-content: center;
}

.p-center {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

@media screen and (max-width: 650px) {
    .card {
        margin: 5px;   
    }
    .card h3 {
        font-size: 32px;
    }
    #portfolio-hr {
        width: 55%;
    }
}